In [1]:
import pandas as pd
cric_players = [['Virat Kohli','India','RCB']
            ,['Rohit Sharma','India','MI']
            ,['MS Dhoni','India','CSK']
            ,['Pat Cummins','Australia','SRH']           
           ] 
df_cric_players = pd.DataFrame(cric_players,columns=["PlayerName","Country","IPLTeams"])
df_cric_players

     PlayerName    Country IPLTeams
0   Virat Kohli      India      RCB
1  Rohit Sharma      India       MI
2      MS Dhoni      India      CSK
3   Pat Cummins  Australia      SRH

In [2]:
import pandas as pd
cric_players_India_role = [['Virat Kohli','Batsmen']
            ,['Rohit Sharma','Bowler']
            ,['MS Dhoni','WicketKeeper']
            ,['Zaheer Khan ','WicketKeeper']
                     
           ] 
df_cric_players_role = pd.DataFrame(cric_players_India_role,columns=["PlayerName","Role"])
df_cric_players_role

     PlayerName          Role
0   Virat Kohli       Batsmen
1  Rohit Sharma        Bowler
2      MS Dhoni  WicketKeeper
3  Zaheer Khan   WicketKeeper

In [4]:
df_out = df_cric_players.merge(df_cric_players_role,how='inner',left_on='PlayerName',right_on='PlayerName')
df_out

     PlayerName Country IPLTeams          Role
0   Virat Kohli   India      RCB       Batsmen
1  Rohit Sharma   India       MI        Bowler
2      MS Dhoni   India      CSK  WicketKeeper

In [5]:
df_out = df_cric_players.merge(df_cric_players_role,how='left',left_on='PlayerName',right_on='PlayerName')
df_out

     PlayerName    Country IPLTeams          Role
0   Virat Kohli      India      RCB       Batsmen
1  Rohit Sharma      India       MI        Bowler
2      MS Dhoni      India      CSK  WicketKeeper
3   Pat Cummins  Australia      SRH           NaN

In [6]:
df_out = df_cric_players.merge(df_cric_players_role,how='right',left_on='PlayerName',right_on='PlayerName')
df_out

     PlayerName Country IPLTeams          Role
0   Virat Kohli   India      RCB       Batsmen
1  Rohit Sharma   India       MI        Bowler
2      MS Dhoni   India      CSK  WicketKeeper
3  Zaheer Khan      NaN      NaN  WicketKeeper