In [29]:
# Convert a List to a DataFrame

In [30]:
employee_id = [1,2,3,4]

In [33]:
import pandas as pd
df = pd.DataFrame(employee_id)
df

   0
0  1
1  2
2  3
3  4

In [17]:
import pandas as pd
df = pd.DataFrame(employee_id, columns=['employeeId'])
df

employeeId    int64
dtype: object

In [22]:
df.dtypes

employeeId    object
dtype: object

In [ ]:
employee_id = [1,2,3,4,'s']

In [21]:
import pandas as pd
df = pd.DataFrame(employee_id, columns=['employeeId'])
df

employeeId    object
dtype: object

In [23]:
df.dtypes

employeeId    object
dtype: object

In [18]:
products_list = ['laptop', 'printer', 'tablet', 'desk', 'chair']

In [19]:
import pandas as pd
df = pd.DataFrame(products_list, columns=['product_name'])
df

product_name    object
dtype: object

In [ ]:
df.dtypes

In [ ]:
# Convert a List of Lists to a DataFrame

In [26]:
products_list = [['laptop', 1300], ['printer', 150], ['tablet', 300], ['desk', 450], ['chair', 200]]

In [27]:
import pandas as pd
df = pd.DataFrame(products_list, columns=['product_name', 'price'])
df

  product_name  price
0       laptop   1300
1      printer    150
2       tablet    300
3         desk    450
4        chair    200

In [28]:
df.dtypes

product_name    object
price            int64
dtype: object